<div>
    
    {% for room in rooms %}

    <div
      class="room border-2 border-green-300 rounded-md m-4 p-4 hover:border-green-500 transition"
    >
      {% if request.user == room.host %}
      <a
        href="{% url 'update-room' room.id %}"
        class="p-1 rounded-md bg-green-500"
        >EDit</a
      >

      <a
        href="{% url 'delete-room' room.id %}"
        class="m-3 border-1 p-0.5 rounded-md bg-red-500"
        >Delete</a
      >

      {% endif %}

      <span>@{{room.host.username}}</span>

      <!-- <h5>{{room.id}}------ <a href="/room/{{room.id}}">{{room.name}}</a></h5> -->
      <h5 class="mt-3">
        {{room.id}}------ <a href="{% url 'room' room.id %}">{{room.name}}</a>
      </h5>
      <!-- ab chahe urls.py me /room se .rokmv krde lekin koi problem nhi ,  ye name="room" ke kisab se path ka url lega -->

      <small>{{room.topic.name}}</small>

      <hr />
    </div>

    {% endfor %}
</div>