{% extends 'main.html' %}

<!-- {% include 'navbar.html' %} // include get code as it is & extends take file & make changes in that.//
<h1>welcome to this room </h1>

{% include 'navbar.html' %}
{% include 'navbar.html' %}
-->

{% block css %}
<style>
  .room-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
  }
</style>
{% endblock %} {% block content %}
<!-- <h1>this is  room id : {{room.id}}</h1> -->
<div class="room-container">
  <div>
    <h2>{{room.name}}</h2>
    <p>{{room.description}}</p>

    <div class="comment-wrapper">

      <div class="comment-form">
        {% if user.is_authenticated %}
        <h2><i>comment your thoughts </i></h2>

        <form action="" method="POST">
          {% csrf_token %}

          <input type="text" name="body" placeholder="tell your thoughts...." style="height: 2.5rem; width: 90%" />
          <button type="submit">comment</button>
        </form>

        {% endif %}
      </div>
    </div>
    <h2>Conversations</h2>
    <hr />

    {% for message in room_messages %}
    <div>
      <small>@{{message.user}} {{message.created|timesince}} ago</small>
      <!-- filter |timesice covert time(day : hr:--) to x hrs y min ago -->
      <p>{{message.body}}</p>
      <hr />
    </div>
    {% endfor %}

  </div>

  <div>
    <h3>Participants</h3>
  </div>

</div>
{% endblock %}